body {
    font-family: 'Times New Roman', Times, serif;
}
* {
    margin: 0;
    padding: 0;
}
.heading_text h1 {
    text-align: center;
    text-transform: capitalize;
    background-color: aquamarine;
    
}
#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}